{% extends 'base.html' %}
<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </main>
    </body>
</html> -->

{% block content %}
<main>
    <form methods="post">
        {%csrf_token%}
        {{ form.as_p }}
        <button>Login</button>
    </form>
</main>
{% endblock content %}
