{% extends 'base.html' %}

{% block content %}
<main>
    <form methods="post">
        {%csrf_token%}
        {{ form.as_p }}
        <button>Sign Up</button>
    </form>
</main>
{% endblock content %}
